---
import PictureWithLink from "./features/PictureWithLink.astro";
export interface Props {
  title: string;
  author: string;
  publishDate: string;
  heroImage?: string;
  heroImageAlt?: string;
  isExternalHeroImg: boolean;
  href: string;
}

const {
  author,
  publishDate,
  heroImage,
  heroImageAlt = "",
  isExternalHeroImg,
  title,
  href,
} = Astro.props;
---

<article>
  <header>
    {
      heroImage && (
        <PictureWithLink
          src={heroImage}
          alt={heroImageAlt}
          isExternalSrc={isExternalHeroImg}
        />
      )
    }
    <h1 class="my-0">{title}</h1>
    <div class="italic flex gap-2">
      <p>{publishDate}</p>
      <span>|</span>
      <a href={href}>{author}</a>
    </div>
  </header>
  <section class="mt-8">
    <slot />
  </section>
</article>
