---
export interface Props {
  post: any;
}

const { post } = Astro.props;
---

<article
  class="p-4 rounded-lg ring-1 shadow-lg shadow-dark-primary/10 hover:shadow-dark-accent/30 ring-dark-primary/10 dark:shadow-light-accent/5 dark:hover:shadow-dark-accent/20 dark:ring-light-primary/5"
>
  <header>
    <h2 class="title">
      <a href={post.url}> {post.frontmatter.title}</a>
    </h2>

    <div class="text-sm my-2 italic">
      <span class="">Published {post.frontmatter.publishDate}</span>
      <span>|</span>
      <span class="">Reading time x</span>

      <ul class="flex flex-wrap gap-2">
        {post.frontmatter.keywords.map((w) => <li>#{w}</li>)}
      </ul>
    </div>
  </header>
  <p class="my-4">{post.frontmatter.description}</p>
</article>
