---
export interface Props {
  post: any;
}

const { post } = Astro.props;
---

<article class="bg-green-300 border-2 border-solid border-slate-900 p-4">
  <header>
    <p class="publish-date">{post.frontmatter.publishDate}</p>
    <a href={post.url}>
      <h1 class="title">{post.frontmatter.title}</h1>
    </a>
  </header>
  <p>{post.frontmatter.description}</p>
  <a href={post.url}>Read more</a>
</article>