---
import type { CollectionEntry } from "astro:content";
import PictureWithLink from "./features/PictureWithLink.astro";
type Props = CollectionEntry<"blog">["data"];

const { heroImage, publishDate, author, authorRef } = Astro.props;
---

<article class="markdown">
  <header>
    {
      heroImage && (
        <PictureWithLink
          src={heroImage.src}
          alt={heroImage.alt}
          isExternalSrc={heroImage.isExternal}
        />
      )
    }
    <div class="italic flex gap-2">
      <span>{publishDate}</span>
      <span>|</span>
      <a href={authorRef}>{author}</a>
    </div>
  </header>
  <section class="mt-8">
    <slot />
  </section>
</article>
