---
export interface Props {
  title: string;
  author: string;
  publishDate: string;
  heroImage?: string;
  heroImageAlt?: string;
  href: string;
}

const { author, publishDate, heroImage, heroImageAlt, title, href } =
  Astro.props;
---

<article>
  <header>
    {
      heroImage && (
        <img
          width="720"
          height="420"
          loading="lazy"
          src={heroImage}
          alt={heroImageAlt}
        />
      )
    }

    <h1 class="my-0">{title}</h1>
    <div class="italic flex gap-2">
      <p>{publishDate}</p>
      <span>|</span>
      <a href={href}>{author}</a>
    </div>
  </header>
  <section class="mt-8">
    <slot />
  </section>
</article>
